body {
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  background-color:#F9FAFB;
  padding:0;
  margin:0;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:300;
}

nav, section {
  display:inline-block;
  width:90%;
  margin-left:5%;
  margin-right:5%;
  padding-top:10px;
  padding-bottom:10px;
}

nav {
  margin:0;
  padding-left:5%;
  padding-right:5%;
  background-color:#232935;
  color:#fff;
  padding-top:40px;
}

main {
  width:100vw;
  height:calc(100vh + 30px);
  display:block;
  overflow:scroll;
}
