@charset "utf-8";
/* -- Title: dilley.io -- */
/* -- Agreement: Copyright Bobby Dilley -- */

/* -- Load the fonts -- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Lobster');

/* -- Styling of the body -- */

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F9F9F9;
  margin: 0px;
  margin-top:10px;
  padding: 0px;
  font-size: 15px;
  color: #888888;
}

/* -- Styling of the header -- */

header {
  width: 100%;
  padding-top:70px;
  padding-bottom:70px;
  background-position:center;
  color:#454545;
}

header section {
  padding-top:20px;
  padding-bottom:20px;
}

.landing {
  background-image: url('header_background.png');
  background-color: #1A1A1A;
  color:#fff;
}

.page {
  background-image: url('header_background.png');
  background-color: #1A1A1A;
  color:#fff;
  margin-bottom:35px;
}

.white {
  color:#fff;
  padding-top:0px;
}

.fullimage {
  width:100%;
  margin-top:20px;
}

/* -- Styling of a footer -- */

footer {
  width: 1000px;
  margin-left:calc(50% - 500px);
  margin-right: calc(50% - 500px);
  overflow: hidden;
  color:#454545;
  padding-top:35px;
  padding-bottom:35px;
  font-size:12px;
  margin-top:15px;
  margin-bottom:10px;
}

footer .left {
  color:#ccc;
  display:inline-block;
  float:left;
}

footer .right {
  display:inline-block;
  float:right;
  text-align:right;
}

footer a {
  margin-left:10px;
}

/* -- Styling of a section -- */

body {
  width: 1000px;
  margin-left: 0;
  margin-right: 0;
  padding-left: calc(50% - 500px);
  padding-right: calc(50% - 500px);
  overflow: hidden;
  color:#454545;
}

.thin {
  width:700px;
  margin-left:0;
  margin-right:0;
  padding-left: calc(50% - 350px);
  padding-right: calc(50% - 350px);
  overflow: hidden;
  color:#454545;
}

.wide {
  margin-top: 30px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.black {
  background-color:#1A1A1A;
  color:#fff;
}

.center {
  text-align: center;
}

header section h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 4.4rem;
  color: inherit;
  margin-bottom:0;
  margin-top:60px;
}

header section p {
  font-size: 20px;
  color: inherit;
  margin-top:30px;
}

/* -- Styling of the navigation bar -- */

nav {
  width: 1000px;
  margin-left: calc(50% - 500px);
  text-align: center;
}

nav .left {
  font-family: 'Lobster', cursive;
  color: inherit;
  float: left;
  display: inline-block;
  font-size: 20px;
}

nav .right {
  color: inherit;
  float: right;
  display: inline-block;
  font-size: 20px;
  word-spacing: 15px;
  letter-spacing: 2px;
  width: 40%;
  text-align: right;
  font-size: 13px;
}

nav .right a {
  color: inherit;
  text-decoration:none;
}

nav .right a:hover {
  text-decoration:underline;
}
nav .right img {
  display: inline;
}

/* -- Styling of buttons -- */

.button {
  display:inline-block;
  text-decoration: none;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:14px;
  padding-right:14px;
  border-radius: 3px;
  border: solid 1px #fff;
  color: #fff;
  font-size: 17px;
  text-align: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}


.button:hover {
  background-color: #fff;
  color: #333;
  text-decoration: none;
}

.dark {
    border: solid 1px #454545;
    color:#454545;
}

.dark:hover {
    background-color:#454545;
    color:#fff;
}


header .button {
  margin-top:40px;
}


/* -- Styling of main -- */

h1 {
  color: inherit;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -1px;
  text-rendering: optimizeLegibility;
  font-size: 32px;
  margin-top:50px;
  margin-bottom:10px;
}

.contacts {
  width:100%;
  text-align:center;
}

.contacts a {
  color:inherit;
  display:inline-block;
  width:22%;
  padding-bottom:20px;
}

.big-space {
  padding-top:30px;
}

h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -1px;
  text-rendering: optimizeLegibility;
  margin-top:25px;
  margin-bottom:15px;
}

p {
  line-height:25px;
  font-size: 15px;
  color: #888888;
  margin-top:0px;
}

.button {
  margin-top:15px;
}

/* -- Styling of links --*/
a {
    color: #4183C4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* -- Styling of code -- */

pre {
    font-weight:300;
    padding:10px;
    background-color:#efefef;
}

code {
  display:block;
}

p strong {
    font-weight:400;
    color:#676767;
}

/* -- Quater pictures -- */

.quater {
  text-align:center;
  margin-top:25px;
}
.quater img {
  width:300px;
  margin:10px;
  vertical-align: text-top;
}

.quater img:hover {
  opacity:0.8;
}

.quater_item {
  display:inline-block;
}

.quater_item img {
  border-radius:5px;
}

/* -- Lists -- */

ul, ol {
  font-size: 15px;
  color: #888888;
}


/* -- Responsive Code -- */
@media (max-width: 1100px) {

  body, footer, nav{
    width:90%;
    padding-left:5%;
    padding-right:5%;
    margin-left:0;
    margin-right:0;
  }
}

@media (max-width: 750px) {

  .thin {
    width:90%;
    padding-left:5%;
    padding-right:5%;
    margin-left:0;
    margin-right:0;
  }

  header section h1 {
    margin-top:10px;
    margin-bottom:20px;
    font-size:3em;
  }

  .contacts a {
    display:block;
    padding:10px;
    width:100%;
  }

  header section p {
    font-size:1em;
  }

  header {
    padding-bottom:0;
  }

  footer .left, nav .left {
    display:block;
    width:auto;
    float:none;
    margin:0;
    padding:0;
    text-align:center;
  }

  footer .right, nav .right {
    width:auto;
    text-align:center;
    display:block;
    float:none;
    margin:0;
    padding:0;
    margin-top:40px;
  }
}
